---
import MainLayout from "../layouts/MainLayout.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import Services from "../components/sections/Services.astro";
---

<MainLayout title="About Nexora Digitals | Satyam Bhagat">
	<main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
            <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
                <div class="row items-center py-5 md:pb-20 md:pt-10">
                    <div class="text-center space-y-10">
                        <h2 class="text-5xl font-medium leading-none md:text-6xl">Nexora Digitals is <br> built and managed <br> by Satyam Bhagat</h2>
                        <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">A demo digital marketing agency website created for an internship task, focused on trustworthy branding, clear service presentation, and practical AI-assisted web development.</p>
                        <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="mailto:satyambhagat200623@gmail.com?subject=Nexora%20Digital%20Consultation">
                            <h2 class="text-center text-xl font-normal leading-7">Book a consultation</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <Sponsors />
        <Services />
	</main>
</MainLayout>
